<!-- <form [formGroup]="passwordUpdate">
    <span>Password Update</span>
    <label>RollNumber:</label>
    <input type="text" pInputText style="width: 268px;" formControlName="rollNumber">
    <div class="card flex justify-content-center">
        <label>Password:</label>
        <p-password [(ngModel)]="value" [toggleMask]="true" formControlName="password"></p-password>
    </div>
    <button (click)="submit()">Submit</button>
    </form> -->



    <div class="total">
    <div id="card">
        <div id="card-content">
          <div id="card-title">
            <h2>Password Update</h2>
            <div class="underline-title"></div>
          </div>
          <form method="post" class="form"  [formGroup]="passwordUpdate">
            <label for="user-email" style="padding-top:13px">
                &nbsp;RollNumber
              </label>
            <input id="user-email" class="form-content" type="email" name="studentId" formControlName="studentId" autocomplete="on" required />
            <div class="form-border"></div>
            <label for="user-password" style="padding-top:22px">&nbsp;Password
              </label>
            <input id="user-password" class="form-content" type="password" name="password" formControlName="password" required />
            <div class="form-border"></div>
            <input id="submit-btn" type="submit" (click)="submit()" name="submit" value="SUBMIT" />
          </form>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>