.total{
    background: -webkit-linear-gradient(left, #2323c8, #2ec06f);
 /* position: fixed; */
 width: 100%;  
}
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  /* Container */
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Heading */
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Form */
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  /* Table */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  /* Buttons */
  button {
    background-color: #101110;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: hsl(0, 1%, 30%);
  }
  #libbook{
    display: flex;
    flex-direction: column;
    background-color: rgb(197, 192, 192);
    margin-left: 5%;
    width: 90%;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 15px 15px 5px gray;
    margin-bottom: 50px;
  }
  #bookhead{
    display: flex;
    flex-direction: row;
  }
  #bookcontent{
    display: flex;
    flex-direction: row;
    
  }
  #bookname{
    margin-left: 10%;
    width: 40%;
    margin-right: 10%;
    font-size: 20px;
    color: red;
    
    text-shadow: 2px 2px 2px rgb(77, 35, 35);
  }
  #bookid{
     color: blue;
     text-shadow: 2px 2px 2px rgb(86, 86, 204);
  }
  /* Responsive */
  @media (max-width: 768px) {
    .container {
      max-width: 100%;
      padding: 10px;
    }
  }
  .total{
    background: -webkit-linear-gradient(left, #2323c8, #2ec06f);
 /* position: fixed; */
 width: 100%;  
}